body {
    background-color: #1c024b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nazev {
    font-size: 48px;
    text-shadow: -3px -2px 4px rgba(0,0,0,0.61);
    text-align: center;
    font-weight: bold;
}

.basicinfo h2 {
    font-size: 32px;
    text-shadow: -3px -2px 4px rgba(0,0,0,0.61);
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
}

.basicinfo p {
    font-size: 26px;
    text-shadow: -3px -2px 4px rgba(0,0,0,0.61);
    font-weight: normal;
    max-width: 1200px;
    padding-left: 20px;
}

.mechaniky h3 {
    font-size: 24px;
    text-shadow: -3px -2px 4px rgba(0,0,0,0.61);
    font-weight: bold;
    padding-left: 40px;
}

.mechaniky-text p {
    font-size: 18px;
    text-shadow: -3px -2px 4px rgba(0,0,0,0.61);
    font-weight: normal;
    max-width: 900px;
    padding-left: 40px;
    transition: max-height 0.4s ease;
    overflow: hidden;
    max-height: 0;
}

.mechaniky-text.open {
    max-height: 900px;
    padding-left: 40px;
}

.mechaniky {
    box-sizing: auto 30px;
    box-shadow: 15px -5px 9px 7px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: all;
    font-size: 24px;
    text-shadow: -2px -1px 3px rgba(0,0,0,0.50);
    font-weight: bold;
    padding-left: 40px;
}